---
import { Image } from "astro:assets"
import logo from "../assets/logo.png"
---

<div class="flex w-fit mx-auto items-end" transition:name="logo-utp-mentor">
  <Image src={logo} alt="" class="inline-block w-auto h-10" />
  <span class="font-bold text-[3.1rem] leading-none -mb-[3px] ml-1">mentor</span>
</div>
